@model Web.Model.Client.ClientModel
@{
    ViewBag.Title = "ClientSendenquery";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout .cshtml";
} 
<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-4">
            <div class="col-auto d-none d-sm-block breadcrumb-1">
                <h3>Interview Requests by Clients</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body filter-box">
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" autocomplete="off" type="text" value="@Model.Email" id="Email" placeholder="Search by email" name="Email" maxlength="45" />
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary w-100 border-0" onclick="getClientsendenquiresStatus()">Search</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-fade w-100 border-0" onclick="ResetSearch()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card flex-fill">
                    <div class="card-header hr-b-1">
                        <h5 class="card-title mb-0">
                            Interview Request List
                        </h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped my-0 tr-golden">
                            <thead>
                                <tr>
                                    <th class="w-60px">
                                        S.No
                                    </th>
                                    <th>Client Name</th>
                                    <th>Client Email</th>
                                    <th>Phone No</th>
                                    <th>Date</th>
                                    <th>File Name</th>
                                    <th class="w-100px text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int RowNo = Convert.ToInt32(Model.OffsetId);}
                                @if (Model.clientsendenuerycollection != null)
                                {
                                    foreach (var item in Model.clientsendenuerycollection)
                                    {
                                        <tr>
                                            <td>
                                                @{RowNo++;}@RowNo
                                            </td>
                                            <td>@item.Name </td>
                                            <td>@item.Email </td>
                                            <td>@item.Phone1</td>
                                            <td>@item.CreatedDate</td>
                                            <td>
                                                <a title="Download" download href="@item.FilePath" style="cursor:pointer">
                                                    @if (@item.FileName == "")
                                                    {
                                                        <span>N/A</span>
                                                    }
                                                    else
                                                    {
                                                        @item.FileName
                                                    }

                                                </a>
                                            </td>
                                            <td class="table-action text-center">
                                                <a class="msz-noti" data-toggle="tooltip" data-placement="top" data-original-title="Unread Message" onclick="GetClientsendenquireydetail('@item.Ids')">
                                                    <i class="mr-2 far fa-fw fa-envelope"></i>
                                                    <span>@item.Unreadcount</span>
                                                </a>
                                                <a data-toggle="tooltip" data-placement="top" data-original-title="Remove" onclick="ClientsendqueryDelete(@item.Id)">
                                                    <i class="far fa-fw fa-trash-alt"></i>
                                                </a>
                                            </td>

                                        </tr>
                                    }
                                    if (Model.clientsendenuerycollection.Count() == 0)
                                    {
                                        <tr>
                                            <td colspan="7">
                                                <span class="no-data-found">
                                                    No Data found...
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="card-body">
                            @if (Model.TotalRowCount > Model.maxRows)
                            {
                                <div class="pagination-bar pagination-section my-4">
                                    <nav aria-label="Page navigation " class="d-inline-b">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(1);">&laquo;</a></li>
                                            @if (Model.CurrentPageIndex > 1)
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex - 1);"><</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:void(0);"><</a></li>
                                            }
                                            @if (Model.indexlegth > 20)
                                            {
                                                for (int i = Convert.ToInt32(Model.CurrentPageIndex); i <= Model.PageCount; i++)
                                                {
                                                    if (i != Model.CurrentPageIndex)
                                                    {
                                                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                                    }
                                                    if (i > (Model.CurrentPageIndex + 19))
                                                    {
                                                        <li><a class="page-link" href="javascript:void(0)">..</a></li>
                                                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">@Model.PageCount</a></li>
                                                        break;
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                for (int i = Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) > 0 ? Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) : 1; i <= Model.PageCount; i++)
                                                {
                                                    if (i != Model.CurrentPageIndex)
                                                    {
                                                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                                    }
                                                }
                                            }
                                            @if (Model.CurrentPageIndex < Model.PageCount)
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex + 1);">></a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:void(0);">></a></li>
                                            }
                                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">&raquo;</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/Areas/Admin/Admin/enquires.js"></script>
<script>
    function PagerClick(CurrentPageIndex) {
        url = "/Admin/Admin/ClientSendenquery?CurrentPageIndex=" + CurrentPageIndex;
        window.location.href = url;
    }
</script>
<script>
    var element = document.getElementById("Messages").setAttribute("aria-expanded", "true");
    var element = document.getElementById("Messages");
    element.classList.remove("collapsed");
    var element = document.getElementById("Messages");
    element.classList.add("show");
    var element = document.getElementById("Interview Requests+1");
    element.classList.add("active");
</script>