@model Web.Model.Admin.EnquiresViewModel
@{
    ViewBag.Title = "EnquiresDetail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout .cshtml";
}
<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-4 position-relative">
            <div class="col-auto d-none d-sm-block breadcrumb-1">
                <h3>Inquiry Detail</h3>
            </div>
            <div class="breadcum-2">
                @if (@Model.updatedby > 0)
                { 
                    <a class="btn-new-1" href="/Admin/Admin/enquires">
                        Back
                    </a>
                }

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 w-100-1500">
                <div class="card flex-fill">
                    <div class="card-header hr-b header-golden-bg">

                        <h5 class="card-title mb-0">
                            Contact Information
                        </h5>
                    </div>
                    <div class="card-body p-b-0">
                        <div class="row position-relative">
                            <div class="p-profile mb-3 row-mg w-100 m-0">
                                <div class="p-profile-body-2 pb-0 pt-0" style="width: 152px;">
                                    <div style="padding-top: 0px !important;"   class="p-profile-img p-3 p-profile-img-bg-2"></div>
                                </div>
                                <div class="p-profile-body col-md-12 p-l-p-profile pt-0 min-h-135px" style="padding-left: 160px!important;">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="width: 140px;"><i class="far fa-fw fa-user-circle clr-golden"></i><b> Name </b> :</td>
                                                <td>
                                                    @Model.Name @Model.LastName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="fas fa-fw fa-phone rotate-90 clr-golden"></i> <b>Phone</b> :</td>
                                                <td>
                                                    @Model.Phoneno
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="far fa-fw fa-envelope clr-golden"></i> <b>Email</b> :</td>
                                                <td>
                                                    @Model.Email
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="far fa-fw fa-bookmark clr-golden"></i> <b>Subject</b> :</td>
                                                <td>
                                                    @Model.subject
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><i class="far fa-fw fa-calendar-alt clr-golden"></i> <b>Date</b> :</td>
                                                <td>
                                                    @Model.createdate
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="card flex-fill">
                    <div class="card-header hr-b">

                        <h5 class="card-title mb-0">
                            Conversation
                        </h5>
                    </div>
                    <div class="card-body p-b-0">
                        <div class="position-relative">
                            <div class="chat-messages p-0">

                                @if (Model.enquierycollection != null)
                                {
                                    foreach (var item in Model.enquierycollection)
                                    {

                                        <div class="chat-message-left pb-4">
                                            <div class="flex-shrink-1 msg msg-anchor">
                                                <div class="font-weight-bold mb-1">
                                                    <span>
                                                        <span class="font-weight-500 fs-14">
                                                            @item.Name
                                                        </span>
                                                        <span class="date-msz">(@item.createdate) Inquiry received</span>
                                                    </span>
                                                </div>
                                                @item.message
                                            </div>
                                        </div>
                                        if (item.updatedby > 0)
                                        {
                                            <div class="chat-message-left pb-4">
                                                <div class="flex-shrink-1 msg msg-anchor">
                                                    <div class="font-weight-bold mb-1">
                                                        <span>
                                                            <span class="font-weight-500 fs-14">
                                                                @item.AdminName
                                                            </span>
                                                            <span class="date-msz">(@item.updateddate) A reply sent</span>
                                                        </span>
                                                    </div>
                                                    @item.replymessage
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                               
                            </div>

                        </div>
                    </div>
                    <hr class="m-0">
                    <div class="card-body">
                        <input type="hidden" name="Subject" id="Subject" value="@Model.subject" />
                        <input type="hidden" name="Email" id="Email" value="@Model.Email" />
                        @if (@Model.updatedby == 0)
                        {
                            <form class="input-group" id="replyform">
                                <textarea type="text" id="reply" autocomplete="off" rows="3" value="@Model.replymessage" onkeyup="return msgsent(event)" name="reply" class="form-control" placeholder="Type a message" maxlength="2000"></textarea>
                            </form>
                            <div class="col-md-12 p-0 text-right mt-3 pull-right">
                                <button class="btn-new-1" type="button" onclick="replyenquire(@Model.Id)">Send</button>
                                <a class="btn-new-2" href="/Admin/Admin/enquires">Back</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function msgsent(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {

            if ($("#reply").val().trim() !='') {
               replyenquire(@Model.Id);
            }
        }
    }
</script>
<script>
    var element = document.getElementById("Messages").setAttribute("aria-expanded", "true");
    var element = document.getElementById("Messages");
    element.classList.remove("collapsed");
    var element = document.getElementById("Messages");
    element.classList.add("show");
    var element = document.getElementById("Contact us+1");
    element.classList.add("active");
</script>
<script src="~/Areas/Admin/Admin/enquires.js"></script>