@model Web.Model.Paypal.PlansListModel
@{
    ViewBag.Title = "paymenthistory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout .cshtml";
}



<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-4 position-relative">
            <div class="col-auto d-none d-sm-block breadcrumb-1">
                <h3>Plan History</h3>
            </div>
            <div class="breadcum-2">

                @if (Model.CheckDate == 1)
                {
                    if (Model.recurringpayment == 1)
                    {
                        if (Model.RefundDate != "" && Model.recurringpayment == 1)
                        {
                            <span></span>
                        }
                        else
                        {
                            <a class="btn-new-1" onclick="Renewpayment(@Model.UserId,'@Model.pId')">
                                Renew
                            </a>
                        }

                    }
                    else
                    {
                        <a class="btn-new-1" onclick="stoppayment(@Model.UserId,'@Model.pId')">
                            Stop Recurring Payment
                        </a>
                        if (Model.tId != 2)
                        {
                            <a class="btn-new-1" onclick="refund(@Model.UserId,'@Model.pId')">
                                Stop & Refund
                            </a>
                        }
                    }
                }
                else
                {
                    <a class="btn-new-1" onclick="Renewpayment(@Model.UserId,'@Model.pId')">
                        Renew
                    </a>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card flex-fill">
                    <div class="card-header hr-b-1">
                        <h5 class="card-title mb-0">
                            My Current Plan
                        </h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped my-0 tr-golden m-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Plan Name</b>
                                    </td>

                                    <td>
                                        @if (Model.Name == null)
                                        {
                                            <span>N/A</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Name</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b> No. of Interviews Allowed</b>
                                    </td>
                                    <td>
                                        @if (Model.noofinterview == 0)
                                        {
                                            <span>N/A</span>
                                        }
                                        else
                                        {
                                            <span>@Model.noofinterview</span>
                                        }

                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        <b>No. of Jobs Allowed</b>
                                    </td>
                                    <td>
                                        @if (Model.noofjob == 0)
                                        {
                                            <span>N/A</span>
                                        }
                                        else
                                        {
                                            <span>@Model.noofjob</span>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Plan Expires</b>
                                    </td>
                                    <td>
                                        @if (@Model.ValidPlanDate != null)
                                        {
                                            <span>
                                                @Model.ValidPlanDate
                                            </span>
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }
                                    </td>
                                </tr>
                                

                                @if (Model.RefundDate != "")
                                {
                                    <tr>
                                        <td>
                                            <b>Stop & Refund By</b>
                                        </td>
                                        <td>
                                            <b>@Model.RefundBy</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Stop & Refund Date</b>
                                        </td>
                                        <td>
                                            <b>@Model.RefundDate</b>
                                        </td>
                                    </tr>

                                }
                                else
                                {
                                    if (Model.PaymentStopDate != "" && Model.recurringpayment == 1)
                                    {
                                        <tr>
                                            <td>
                                                <b>Payment Stop By</b>
                                            </td>
                                            <td>
                                                <b>@Model.PaymentStopBy</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b> Payment Stop Date</b>
                                            </td>
                                            <td>
                                                <b>@Model.PaymentStopDate</b>
                                            </td>
                                        </tr>
                                    }
                                    if (Model.RenewDate != "" && Model.recurringpayment == 0)
                                    {
                                        <tr>
                                            <td>
                                                <b>Payment Renew By</b>
                                            </td>
                                            <td>
                                                <b>@Model.RenewBy</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b> Payment Renew Date</b>
                                            </td>
                                            <td>
                                                <b>@Model.RenewDate</b>
                                            </td>
                                        </tr>
                                    }
                                }
                                 
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card flex-fill">
                    <div class="card-header hr-b-1">
                        <h5 class="card-title mb-0">
                            Current Uses
                        </h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped my-0 tr-golden m-0">
                            <tbody>

                                <tr>
                                    <td>
                                        <b>Plan Name</b>
                                    </td>
                                    <td>
                                        @if (Model.Name == null)
                                        {
                                            <span>N/A</span>
                                        }
                                        else
                                        {
                                            <span>@Model.Name</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Interview schedule</b>
                                    </td>
                                    <td>
                                        @if (Model.LeftInterview == 0)
                                        {
                                            <span>N/A</span>
                                        }
                                        else
                                        {
                                            <span>@Model.LeftInterview</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Jobs Created</b>
                                    </td>
                                    <td>
                                        @if (Model.jobleft == 0)
                                        {
                                            <span>N/A</span>
                                        }
                                        else
                                        {
                                            <span>@Model.jobleft</span>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Plan Expires</b>
                                    </td>
                                    <td>
                                        @if (@Model.ValidPlanDate != null)
                                        {
                                            <span>
                                                @Model.ValidPlanDate
                                            </span>
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="card-actions float-right">

                        </div>
                        <h5 class="card-title mb-0">
                            Subscription History
                        </h5>
                    </div>
                    <table class="table table-striped my-0 tr-golden">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Plan Name</th>
                                <th>Amount</th>
                                <th>Start / Expiry Date</th>
                                <th>Plan Status</th>
                                <th class="text-center mw-120">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int RowNo = 0;}
                            @if (Model.Collection != null)
                            {
                                foreach (var item in Model.Collection)
                                {
                                    <tr>
                                        <td> @{RowNo++;}@RowNo</td>
                                        <td>
                                            @item.PlanName
                                        </td>
                                        <td>@item.Amount</td>
                                        <td>@item.CreateDate - @item.ValidPlanDate</td>
                                        <td>
                                            @if (@item.Status == "Current")
                                            {
                                                <span style="color:#918262">(@item.Status)</span>
                                            }
                                            else
                                            {
                                                <span style="color:red">(@item.Status)</span>
                                            }
                                        </td>
                                        <td class="table-action text-center">
                                            <a title="Payment  Details" onclick="plandetailbyid(@item.Id)"><i class="align-middle" data-feather="eye"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="p-3" colspan="6">
                                        <span class="no-data-found">
                                            No Data found...
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="card-body">
                        @if (Model.TotalRowCount > Model.maxRows)
                        {
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-lg justify-content-center">
                                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(1);">&laquo;</a></li>
                                    @if (Model.CurrentPageIndex > 1)
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex - 1);"><</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);"><</a></li>
                                    }
                                    @if (Model.indexlegth > 20)
                                    {
                                        for (int i = Convert.ToInt32(Model.CurrentPageIndex); i <= Model.PageCount; i++)
                                        {
                                            if (i != Model.CurrentPageIndex)
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                            }
                                            if (i > (Model.CurrentPageIndex + 19))
                                            {
                                                <li><a class="page-link" href="javascript:void(0)">..</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">@Model.PageCount</a></li>
                                                break;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        for (int i = Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) > 0 ? Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) : 1; i <= Model.PageCount; i++)
                                        {
                                            if (i != Model.CurrentPageIndex)
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                            }
                                        }
                                    }
                                    @if (Model.CurrentPageIndex < Model.PageCount)
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex + 1);">></a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">></a></li>
                                    }
                                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">&raquo;</a></li>
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div id="plandetail_popup" class="modal fade" role="dialog"></div>
<script>
    function plandetailbyid(Id) {
        model = { Id: Id }
        $.get("/Home/plandetails", model, function (response) {
            $("#plandetail_popup").html(response);
            $("#plandetail_popup").modal("show");
        });
    }
</script>
<script>
    function stoppayment(Id, pId) {
        if (stoppaymentConfirmation() == false) {
            return false;
        }
        model = {
            UserId: Id,
            p_Id: pId,
        }
        $.get("/Home/stoppayment", model, function (data) {
            if (data == 1) {
                toastr.success("Payment temporary stop successfully."); 
                setTimeout(function () { location.reload(); }, 400);  
            } else {
                toastr.warning("Something went wrong.");
            }
        });
    }
    function stoppaymentConfirmation() {
        return confirm(" Do you really want to temporary stop?");
    }
</script>

<script>
    function Renewpayment(Id, pId) {
        if (RenewpaymentConfirmation() == false) {
            return false;
        }
        model = {
            UserId: Id,
            p_Id: pId,
        }
        $.get("/Home/Renewpayment", model, function (data) {
            if (data == 1) {
                toastr.success("Subscription renew successfully.");
                setTimeout(function () { location.reload(); }, 400);
            } else {
                toastr.warning("Something went wrong.");
            }
        });
    }
    function RenewpaymentConfirmation() {
        return confirm(" Do you really want renew this subscription?");
    }
</script>

<script>
    function refund(Id, pId) {
        if (cancelConfirmation() == false) {
            return false;
        }
        model = {
            UserId: Id,
            p_Id: pId,
        }
        $.get("/Home/refundpayment", model, function (data) {
            if (data == 1) {
                toastr.success("Payment refund successfully."); 
                setTimeout(function () { location.reload(); }, 400);
            } else {
                toastr.warning("Something went wrong.");
            }
        });
    }
    function cancelConfirmation() {
        return confirm(" Do you really want stop & refund payment?");
    }
</script>




<script>
    var element = document.getElementById("Subscriptions").setAttribute("aria-expanded", "true");
    var element = document.getElementById("Subscriptions");
    element.classList.remove("collapsed");
    var element = document.getElementById("Subscriptions");
    element.classList.add("show");
    var element = document.getElementById("Renew+1");
    element.classList.add("active");
</script>
