@model Web.Model.Client.JobsModel
@{
    ViewBag.Title = "My applied Job";
    Layout = "~/Views/Shared/_Candidatelayout.cshtml";
}
<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-4">
            <div class="col-auto d-none d-sm-block breadcrumb-1">
                <h3>
                    My Applied Jobs
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card flex-fill">
                    <div class="card-header hr-b-1">
                        <div class="card-actions float-right">
                            <b>(Update Every 24 Hours) </b>
                        </div>
                        <h5 class="card-title mb-0">
                            My Applied Job List
                        </h5>



                    </div>
                    <div class="card-body">
                        <div class="my-active-jobs-main">
                            <div class="my-active-jobs-inner">
                                @if (Model.MyappliedJobsCollection != null)
                                {
                                    foreach (var item in Model.MyappliedJobsCollection)
                                    {
                                        <div class="my-active-jobs-inner-row">
                                            <div class="my-active-jobs-inner-tile">
                                                <div class="my-active-jobs-inner-tile my-active-jobs-inner-tile-2">
                                                    <div>
                                                        <i class="far fa-fw fa-building"></i>
                                                    </div>
                                                    <div>
                                                        <h4 onclick="getJobDetail('@item.Ids')"> @item.jobtitle</h4>
                                                        <div class="my-active-jobs-mune-2">
                                                            @if (item.sortdescription.Length > 0)
                                                            {
                                                                <p>
                                                                    @item.sortdescription
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p>
                                                                    N/A
                                                                </p>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="my-active-jobs-inner-footer-2">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" onclick=""><i class="fas fa-fw fa-eye"></i>  @item.Jobtype</a>
                                                            <a class="dropdown-item" onclick=""> <i class="far fa-fw fa-clock"></i> Applied on -  @item.createddate</a>
                                                            <a class="dropdown-item" onclick="">
                                                                <i class="fas fa-fw fa-map-marker-alt"></i>@if (@item.location == "")
                                                                {
                                                                    <span>N/A</span>
                                                                }
                                                                else
                                                                {
                                                                    @item.location
                                                                }

                                                            </a>
                                                            <a class="dropdown-item" onclick=""> <i class="fas fa-fw fa-map-marker-alt"></i>@item.zipcode</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    if (Model.MyappliedJobsCollection.Count() == 0)
                                    {

                                        <span class="no-data-found">
                                            No Data found...
                                        </span>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @if (Model.TotalRowCount > Model.maxRows)
                        {
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-lg justify-content-center">
                                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(1);">&laquo;</a></li>
                                    @if (Model.CurrentPageIndex > 1)
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex - 1);">&#60;</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">&#60;</a></li>
                                    }
                                    @if (Model.indexlegth > 20)
                                    {
                                        for (int i = Convert.ToInt32(Model.CurrentPageIndex); i <= Model.PageCount; i++)
                                        {
                                            if (i != Model.CurrentPageIndex)
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                            }
                                            if (i > (Model.CurrentPageIndex + 19))
                                            {
                                                <li><a class="page-link" href="javascript:void(0)">..</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">@Model.PageCount</a></li>
                                                break;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        for (int i = Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) > 0 ? Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) : 1; i <= Model.PageCount; i++)
                                        {
                                            if (i != Model.CurrentPageIndex)
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                            }
                                        }
                                    }
                                    @if (Model.CurrentPageIndex < Model.PageCount)
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex + 1);">></a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">></a></li>
                                    }
                                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">&raquo;</a></li>
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function PagerClick(CurrentPageIndex) {
        url = "/Candidates/MyappliedJob?CurrentPageIndex=" + CurrentPageIndex;
        window.location.href = url;
    }
</script>
<script src="~/MvpTelent_js/ApplyJob.js"></script>
<script>
    var element = document.getElementById("myappliedjob");
    element.classList.add("active");
</script>