@model Web.Model.Candidate.CandidateModel
@{
    ViewBag.Title = "CandidateList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout .cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/Areas/Content/vendor/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script type="text/javascript" src="@Model.locationKey"></script>
<div id="Candidatecreate_PopUp" class="modal fade" role="dialog"></div>

<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-4 position-relative">
            <div class="col-auto d-none d-sm-block breadcrumb-1">
                <h3>Candidates</h3>
            </div>
            <div class="breadcum-2">
                <a class="btn-new-1" onclick="CreateCandidatepopup(0)" data-toggle="modal" data-target="#add">
                    Add Candidate
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body filter-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="flix-box">
                                    <div class="pd-col cadidatelist-autocomplete">
                                        <input type="text" style="text-transform: capitalize" class="form-control mb-3" value="@Model.Title" id="Title" autocomplete="off" placeholder="Search By Title" name="Title" maxlength="70">
                                    </div>
                                    <div class="pd-col">
                                        <input type="text" class="form-control mb-3" value="@Model.Keyword" id="Keyword" placeholder="Search By keywords" name="Keyword" maxlength="20">
                                    </div>
                                    <div class="pd-col">
                                        <div class="autocomplete">
                                            <input type="hidden" name="postal_code" id="postal_code" />
                                            <input id="autocomplete_search" autocomplete="off" value="@Model.CityName" class="form-control" placeholder="Search By Location" name="autocomplete_search" type="text" maxlength="30">
                                        </div>
                                    </div>

                                    <div class="pd-col" id="divDropdown" style="display:none;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.MileId, new SelectList(Model.MileCollection, "MileId", "Name"), "Select Mile", new { @class = "form-control", @Name = "MileId", @id = "MileId" })
                                            </div>
                                        </div>
                                    </div>



                                    @if (Model.checkzipcode == 1)
                            {
                                    <div class="pd-col" id="divDropdown">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.MileId, new SelectList(Model.MileCollection, "MileId", "Name"), "Select Mile", new { @class = "form-control", @Name = "MileId", @id = "MileId" })
                                            </div>
                                        </div>
                                    </div>
                            }
                            else
                            {
                                    <div class="pd-col" id="divDropdown" style="display:none;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(m => m.MileId, new SelectList(Model.MileCollection, "MileId", "Name"), "Select Mile", new { @class = "form-control", @Name = "MileId", @id = "MileId" })
                                            </div>
                                        </div>
                                    </div>
                            }






                                    <div class="pd-col">
                                        <input type="text" style="text-transform: capitalize" class="form-control mb-3" value="@Model.Name" id="UserFullName" placeholder="Search By Name" name="UserFullName" maxlength="30">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" value="@Model.Phone" id="UserPhone" name="UserPhone" maxlength="14" placeholder="(XXX) XXX-XXXX">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" value="@Model.Email" id="UserEmail" placeholder="Search By Email" name="UserEmail" maxlength="50">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary w-100 border-0 mb-3" onclick="getCandidateByStatus()">Search</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-fade w-100 border-0" onclick="ResetcandidateSearch()">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card flex-fill">
                    <div class="card-header hr-b-1">
                        <h5 class="card-title mb-0">
                            Candidate List
                        </h5>

                    </div>
                    <div class="table-scroll">
                        <div>
                            <table class="table table-striped my-0 tr-golden">
                                <thead>
                                    <tr>
                                        <th class="w-65px">
                                            S.No
                                        </th>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Email</th>
                                        <th>Phone</th>

                                        <th>Location</th>
                                        <th class="w-100px">Zip code</th>
                                        <th class="w-100px text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @{int RowNo = Convert.ToInt32(Model.OffsetId);}
                                    @if (Model.CandiateList != null)
                                    {
                                        foreach (var item in Model.CandiateList)
                                        {
                                            if (item.email != null)
                                            {
                                    <tr>
                                        <td class="text-center"> @{RowNo++;}@RowNo</td>
                                        <td>@item.full_name</td>
                                        <td>
                                            @if (@item.current_job_title == null)
                                                        {
                                            <span>N/A</span>
                                                        }
                                                        else
                                                        {@item.current_job_title}
                                        </td>
                                        <td>@item.email</td>
                                        <td>

                                            @if (@item.mobile == null)
                                                        {
                                            <span>N/A</span>
                                                        }
                                                        else
                                                        {@item.mobile}

                                        </td>
                                        <td>
                                            @if (@item.location == null)
                                                        {
                                            <span>N/A</span>
                                                        }
                                                        else
                                                        {@item.location}


                                        </td>

                                        <td>@item.ZipCode</td>
                                        <td class="table-action text-center">

                                            <div class="dropdown-hover">
                                                <a>
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <ul>
                                                    <li>
                                                        <a style="cursor:pointer" onclick="CandidateDetail('@EncryptDecrypt.encrypt(Convert.ToString(@item.id))')">Edit Candidate </a>
                                                    </li>
                                                    <li>
                                                        <a style="cursor:pointer" onclick="detailedprofile('@EncryptDecrypt.encrypt(Convert.ToString(@item.id))')">View Detailed Profile</a>
                                                    </li>
                                                    <li>
                                                        <a style="cursor:pointer" onclick="confidentialprofile('@EncryptDecrypt.encrypt(Convert.ToString(@item.id))')">View Confidential Profile</a>
                                                    </li>

                                                    <li>
                                                        <a style="cursor:pointer" onclick="CandidateDelete(@item.id)">Delete Candidate Profile</a>
                                                    </li>
                                                    <li>
                                                        <a style="cursor:pointer" onclick="ResendActivationEmail(@item.id)">Resend Activation Email</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                            }
                                        }
                                        if (Model.CandiateList.Count() == 0)
                                        {
                                    <tr>
                                        <td colspan="8">
                                            <span class="no-data-found">
                                                No Data found...
                                            </span>
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="card-body">
                                @if (Model.TotalRowCount > Model.maxRows)
                                {
                                <div class="pagination-bar pagination-section my-4">
                                    <nav aria-label="Page navigation " class="d-inline-b">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(1);">&laquo;</a></li>
                                            @if (Model.CurrentPageIndex > 1)
                                                {
                                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex - 1);"><</a></li>
                                                }
                                                else
                                                {
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);"><</a></li>
                                                }
                                            @if (Model.indexlegth > 20)
                                                {
                                                    for (int i = Convert.ToInt32(Model.CurrentPageIndex); i <= Model.PageCount; i++)
                                                    {
                                                        if (i != Model.CurrentPageIndex)
                                                        {
                                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                                        }
                                                        else
                                                        {
                                            <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                                        }
                                                        if (i > (Model.CurrentPageIndex + 19))
                                                        {
                                            <li><a class="page-link" href="javascript:void(0)">..</a></li>
                                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">@Model.PageCount</a></li>
                                                            break;
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    for (int i = Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) > 0 ? Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) : 1; i <= Model.PageCount; i++)
                                                    {
                                                        if (i != Model.CurrentPageIndex)
                                                        {
                                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                                        }
                                                        else
                                                        {
                                            <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                                        }
                                                    }
                                                }
                                            @if (Model.CurrentPageIndex < Model.PageCount)
                                                {
                                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex + 1);">></a></li>
                                                }
                                                else
                                                {
                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">></a></li>
                                                }
                                            <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">&raquo;</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $('#UserPhone')

        .keydown(function (e) {
            var key = e.which || e.charCode || e.keyCode || 0;
            $phone = $(this);

            // Don't let them remove the starting '('
            if ($phone.val().length === 1 && (key === 8 || key === 46)) {
                $phone.val('(');
                return false;
            }
            // Reset if they highlight and type over first char.
            else if ($phone.val().charAt(0) !== '(') {
                $phone.val('(' + String.fromCharCode(e.keyCode) + '');
            }

            // Auto-format- do not expose the mask as the user begins to type
            if (key !== 8 && key !== 9) {
                if ($phone.val().length === 4) {
                    $phone.val($phone.val() + ')');
                }
                if ($phone.val().length === 5) {
                    $phone.val($phone.val() + ' ');
                }
                if ($phone.val().length === 9) {
                    $phone.val($phone.val() + '-');
                }
            }

            // Allow numeric (and tab, backspace, delete) keys only
            return (key == 8 ||
                key == 9 ||
                key == 46 ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        })

        .bind('focus click', function () {
            $phone = $(this);

            if ($phone.val().length === 0) {
                $phone.val('(');
            }
            else {
                var val = $phone.val();
                $phone.val('').val(val); // Ensure cursor remains at the end
            }
        })

        .blur(function () {
            $phone = $(this);

            if ($phone.val() === '(') {
                $phone.val('');
            }
        });
</script>
<script>
    var autocomplete;
    var autocompleteListener;
    function disableGoogleAutocomplete() {
        if (autocomplete !== undefined) {
            google.maps.event.removeListener(autocompleteListener);
            google.maps.event.clearInstanceListeners(autocomplete);
            $(".pac-container").remove();
        }
    }

    function enableGoogleAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete_search'));
        autocomplete.setComponentRestrictions({
            country: ["us"],
        });
        autocompleteListener = google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
        });
        // console.log('set autocomplete to GOOGLE');
    }

    $('#autocomplete_search').keypress(function (e) {
        var input = document.getElementById('autocomplete_search');
        if (input.value.length > 1) {
            if (!parseInt(input.value)) {
                enableGoogleAutocomplete();
            }
        }
        else {
            disableGoogleAutocomplete();
        }

        if (parseInt($("#autocomplete_search").val())) {
            if ($('#autocomplete_search').val().length >= 4) {
                $('#divDropdown').show();
                $('#MileId').val(25);
            }
            else {
                $('#divDropdown').hide();
                $('#MileId').val('');
            }
        }
        else {
            $('#divDropdown').hide();
            $('#MileId').val('');
        }
    })
</script>
<script src="~/MvpTelent_js/Candidate/CandidateJs.js"></script>

<script>
    $("#autocomplete_search").focusout(function () {
        if (parseInt($("#autocomplete_search").val())) {
            if ($('#autocomplete_search').val().length >= 4) {
                $('#divDropdown').show();
                $('#MileId').val(25);
            }
            else {
                $('#divDropdown').hide();
                $('#MileId').val('');
            }
        }
        else {
            $('#divDropdown').hide();
            $('#MileId').val('');
        }
    });
</script>


<script>
    var element = document.getElementById("Candidates").setAttribute("aria-expanded", "true");
    var element = document.getElementById("Candidates");
    element.classList.remove("collapsed");
    var element = document.getElementById("Candidates");
    element.classList.add("show");
    var element = document.getElementById("Candidates List+1");
    element.classList.add("active");
</script>
<script>
    function ResendActivationEmail(Id) {
        if (ResendActivationEmail_Confirm() == false) {
            return false;
        }
        model = {
            Id: Id
        }
        $.post("/Admin/Admin/ResendActivationEmail", model, function () {
            toastr.success("Email sent successfully.");
            setTimeout(function () { window.location.reload(); }, 400);

        });
    }

    function ResendActivationEmail_Confirm() {
        return confirm('Do you really want to send the email?');
    }
</script>


@*<script>
        $.post("/Home/getCandidateTitleList", function (response) {

            $("#Title").autocomplete({
                source: response,
                select: function (event, ui) {
                    var e = ui.item;
                    // $("#h_ClientId").val(e.id)

                }
            });
        });
    </script>*@



<script>
    function autocomplete(inp, arr) {
        var currentFocus;
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {
                var pos = arr[i].toUpperCase().indexOf(val.toUpperCase());
                if (pos > -1) {
                    b = document.createElement("DIV");
                    b.innerHTML = arr[i].substr(0, pos);
                    b.innerHTML += "<strong>" + arr[i].substr(pos, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(pos + val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function (e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) { //up
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    var strArray = [];
    $.ajax({
        type: "Post",
        url: "/Home/getCandidateTitleList",
        contentType: false,
        processData: false,
        success: function (data) {
            $.each(data.candidatetagvaluecollection, function () {
                var tmpStr = "";
                for (var i = 0; i < this.Name.length; i++) {
                    if (this.Name.charAt(i) == ',') {
                        strArray.push(tmpStr);
                        tmpStr = "";
                        continue;
                    }
                    tmpStr += this.Name.charAt(i);
                }
                strArray.push(tmpStr);
            });
            autocomplete(document.getElementById("Title"), strArray);
        },
        error: function () {
            alert("There is an error uploading files!");
        }
    });
</script>

<div id="CandidateTagIdautocomplete-list"></div>