@model Web.Model.Candidate.CandidateListModel
@{
    ViewBag.Title = "Search Candidate";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<style>
    .autocomplete-items {
        overflow: scroll !important;
        min-height: 400px !important;
    }

    .no-data-section {
        margin: auto
    }

    .candidatelist-main-inner-text > table > tbody > tr > td {
        padding: 0 0 10px 5px;
    }


    .within-range > .within-range-min[disabled], .within-range > .within-range-add[disabled] {
        opacity: 0.4!important;
    }

</style>
<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-4">
            <div class="col-auto d-none d-sm-block breadcrumb-1">
                <h3>
                    Search Candidates
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4 m-b-10">
                                        <input type="text" autocomplete="off" class="form-control" tabindex="" style="text-transform: capitalize" id="Title" name="Title" placeholder="Enter job title">
                                    </div>
                                    <div class="col-md-4 m-b-10">
                                        <input type="hidden" name="postal_code" id="postal_code">
                                        <input type="hidden" name="checkgroupId" id="checkgroupId" value="@Model.gid">
                                        <input type="text" id="Keyword" name="Keyword" class="form-control" placeholder="Filter by Keywords">
                                    </div>
                                    <div class="col-md-4 m-b-10">
                                        <input type="text" autocomplete="off" class="form-control" tabindex="" id="autocomplete_search" onfocusout="checklocation()"   name="" placeholder="Enter city / state / zip code">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6 m-b-10">
                                        <input type="button"   onclick="CandidateSearchByClient(1,null,1)" id="search" name="search" class="btn btn-primary w-100 border-0" value="Filter">
                                    </div>
                                    <div class="col-md-6 m-b-10">
                                        <button type="submit" class="btn btn-fade w-100 border-0" onclick="window.location.href='/client/candidate'">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div id="filtersection">
                        <div class="row">
                            <div class="col-md-4 col-xl-3">
                                <div class="card mb-3 accordioncandidatelist accordioncandidatelist-center" id="accordioncandidatelist">
                                    <div class="card-header hr-b-1">
                                        <div class="card-actions float-right">
                                            <a class="tags" onclick="clearfilter()">
                                                Clear
                                            </a>
                                        </div>
                                        <h5 class="mb-0 mt-1" style=" font-size: 18px;">
                                            Filter Results
                                        </h5>
                                    </div>
                                    <div id="milesfiltersection" class="card-body position-relative p-b-0">
                                        <h5 class="h6">
                                            <button class="" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
                                                Within Range
                                            </button>
                                        </h5>
                                        <ul class="list-unstyled">
                                            <li id="collapse" class="collapse show mb-1" aria-labelledby="filterOne" data-parent="#accordioncandidatelist">
                                                <div class="within-range">
                                                    <button id="btndecrement"  name="btndecrement" class="within-range-min" onclick="decrementValue()">
                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </button>
                                                    <div>
                                                        <input type="number" id="miles" name="miles" value="25" readonly="readonly" />
                                                        <span>
                                                            miles
                                                        </span>
                                                    </div>
                                                    <button class="within-range-add" id="btnincrement" name="btnincrement" onclick="incrementValue()">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="card-body position-relative p-b-0">
                                        <h5 class="h6" id="filterOne">
                                            <button class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Profile Type
                                            </button>
                                        </h5>
                                        <ul class="list-unstyled">
                                            <li id="collapseOne" class="collapse show mb-1" aria-labelledby="filterOne" data-parent="#accordioncandidatelist">
                                                @foreach (var item in Model.jobtypecollection)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input all-select" name="JobtypeId" value="@item.Id" id="JobtypeId_@item.Id" onclick="CandidateSearchByClient(1, null, null)">
                                                        <label class="custom-control-label ml-1" for="JobtypeId_@item.Id">@item.Name</label>
                                                    </div>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body position-relative p-b-0">
                                        <h5 class="h6" id="filterTwo">
                                            <button class=" collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Industry
                                            </button>
                                        </h5>
                                        <ul class="list-unstyled">
                                            <li id="collapseTwo" class="collapse mb-1" aria-labelledby="filterTwo" data-parent="#accordioncandidatelist">
                                                @foreach (var item in Model.IndustryCollection)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="JobCatagoryId" id="customJobCategory_@item.Id" value="@item.Id" onclick="CandidateSearchByClient(1, null, null)">
                                                        <label class="custom-control-label ml-1" for="customJobCategory_@item.Id">@item.Name </label>
                                                    </div>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body position-relative p-b-0">
                                        <h5 class="h6" id="filterThree">
                                            <button class=" collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Experience
                                            </button>
                                        </h5>
                                        <ul class="list-unstyled">
                                            <li id="collapseThree" class="collapse mb-1" aria-labelledby="filterThree" data-parent="#accordioncandidatelist">
                                                @foreach (var item in Model.experiencecollection)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="experienceId" value="@item.Id" id="experienceId_@item.Id" onclick="CandidateSearchByClient(1, null, null)">
                                                        <label class="custom-control-label ml-1" for="customCheck13_@item.Id">@item.Name </label>
                                                    </div>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body position-relative">
                                        <h5 class="h6" id="filterFour">
                                            <button class=" collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Education Level
                                            </button>
                                        </h5>
                                        <ul class="list-unstyled">
                                            <li id="collapseFour" class="collapse mb-1" aria-labelledby="filterThree" data-parent="#accordioncandidatelist">
                                                @foreach (var item in Model.Educationcollection)
                                                {
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" name="educationlavelId" value="@item.Name" id="educationlavelId_@item.Id" onclick="CandidateSearchByClient(1, null, null)">
                                                        <label class="custom-control-label ml-1" for="customCheck131_@item.Id">@item.Name </label>
                                                    </div>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-xl-9">
                                <input type="hidden" name="h_tabid" id="h_tabid" value="0" />
                                <ul class="nav detail-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" onclick="CandidateSearchByClient(1, null, 1)">
                                            All  (<label id="TotalRowCount" name="TotalRowCount">@Model.TotalRowCount</label>)
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" onclick="searchmyfavourite(1,1)">
                                            Favorites  (<label id="lblFavoriteTotalRowCount" name="lblFavoriteTotalRowCount">@Model.favoriteTotalCount</label>)
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="card">
                                            <div class="card-body p-b-0">
                                                <div class="card-actions float-right">
                                                    <span class="select-new">
                                                        <select class="form-control" id="salertfilter" name="salertfilter" onchange="CandidateSearchByClient(1, null, null)">
                                                            <option data-display="Sort By" value="0">Sort By</option>
                                                            <option value="1">Salary Low to High</option>
                                                            <option value="2">Salary High to Low</option>
                                                        </select> &nbsp;&nbsp;
                                                        <script>
                                                            document.getElementById("salertfilter").value = @Model.salery;
                                                        </script>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="candidatelist-main-body-outer" id="CandiateListTable">
                                                    <div class="row">
                                                        @if (Model.CandiateList != null)
                                                        {
                                                            if (Model.CandiateList.Count > 0)
                                                            {
                                                                foreach (var item in Model.CandiateList)
                                                                {
                                                                    <div class="col-md-6">
                                                                        <div class="candidatelist-main-body">
                                                                            <div class="candidatelists-main-header">
                                                                                <span for="exampleCheck1" onclick="candidatedetails('@EncryptDecrypt.encrypt(Convert.ToString(item.id))',@item.jobTypeId, '@item.location')">@item.current_job_title </span>
                                                                                <div class="card-actions float-right">
                                                                                    <div class="dropdown">
                                                                                        @if (item.IsFavorites == 0)
                                                                                        {
                                                                                            <a onclick="Addcandidateshortlistbyid(@item.id)" title="Add to favorite" data-toggle="dropdown" data-display="static" aria-expanded="false">
                                                                                                <i id="favourite_heart_@item.id" class="fa-heart-o"></i>
                                                                                            </a>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <a  onclick="removefavoritecandidate(@item.id,1)">
                                                                                                <i id="icon_@item.id" style="color:#000000" class="fas fa-heart" aria-hidden="true"></i>
                                                                                            </a>
                                                                                        }
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="candidatelist-main-inner" onclick="candidatedetails('@EncryptDecrypt.encrypt(Convert.ToString(item.id))',@item.jobTypeId, '@item.location')">
                                                                                <div class="candidatelist-main-inner-text pl-0">
                                                                                    <table>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <span>Current Salary</span>
                                                                                                    @if (@item.CurrentSalary != "")
                                                                                                    {<span>@item.CurrentSalary</span>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <span>N/A</span>
                                                                                                }
                                                                                                </td>
                                                                                                <td>
                                                                                                    <span>Experience</span>

                                                                                                    @if (@item.Experience_Name == "")
                                                                                                    {
                                                                                                        <span>N/A</span>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <span>@item.Experience_Name</span>
                                                                                                    }
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <span>Job Type</span>
                                                                                                    @if (@item.jobType == null)
                                                                                                    {
                                                                                                        <span>N/A</span>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <span>@item.jobType</span>
                                                                                                    }
                                                                                                </td>
                                                                                                <td>
                                                                                                    <span>  Degree</span>
                                                                                                    @if (@item.EducationlevelName == "")
                                                                                                    {
                                                                                                        <span>N/A</span>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <span>@item.EducationlevelName</span>
                                                                                                    }
                                                                                                </td>

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="2">
                                                                                                    <span>Desired Title</span>
                                                                                                    @if (string.IsNullOrEmpty(item.DesiredTitle1) == false)
                                                                                                    {
                                                                                                        <span>@item.DesiredTitle1</span>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <span>N/A</span>
                                                                                                    }
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="2">
                                                                                                    <span>Location</span>
                                                                                                    @if (string.IsNullOrEmpty(item.location) == false)
                                                                                                    {
                                                                                                        <span>
                                                                                                            @item.location
                                                                                                            @if (item.ZipCode != "")
                                                                                                            {
                                                                                                                <span> - </span>
                                                                                                                if (item.ZipCode.Length == 4)
                                                                                                                {
                                                                                                                    if (item.ZipCode.Substring(0, 1) != "0")
                                                                                                                    {
                                                                                                                        string @aa = "0" + item.ZipCode;
                                                                                                                        <span>@aa</span>
                                                                                                                    }
                                                                                                                }
                                                                                                                else
                                                                                                                {
                                                                                                                    @item.ZipCode
                                                                                                                }
                                                                                                            }
                                                                                                        </span>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <span>N/A</span>
                                                                                                    }

                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                            @if (Model.Zip != null)
                                                                            {
                                                                                <div class="candidatelist-main-footer">
                                                                                    <ul class="candi-tiles-social">
                                                                                        <li class="w-100">
                                                                                            <i class="fas fa-map-marker-alt"></i>
                                                                                            <span> (@item.miles_range Miles away from @Model.Zip) </span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <div class="no-data-section text-center">
                                                                    <figure class="no-data-img">
                                                                        <img src="/New_Content/images/404-img.png" class="img-fluid" />
                                                                    </figure>
                                                                    <p>Sorry , The data not found</p>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="no-data-section text-center">
                                                                <figure class="no-data-img">
                                                                    <img src="/New_Content/images/404-img.png" class="img-fluid" />
                                                                </figure>
                                                                <p>Sorry , The data not found</p>
                                                            </div>
                                                        }
                                                        <input type="hidden" name="h_TotalRowCount" id="h_TotalRowCount" value="@Model.TotalRowCount" />
                                                    </div>

                                                    <div class="row">
                                                        @if (Model.TotalRowCount > Model.maxRows)
                                                        {
                                                            <div class="pagination-bar pagination-section my-4 w-100">
                                                                <nav aria-label="Page navigation " class="d-inline-b">
                                                                    <ul class="pagination justify-content-center custom-pagination-sm">
                                                                        <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(1,@Model.gid);">&laquo;</a></li>
                                                                        @if (Model.CurrentPageIndex > 1)
                                                                        {
                                                                            <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@Model.CurrentPageIndex - 1,@Model.gid);"><</a></li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li class="page-item"><a class="page-link" href="javascript:void(0);"><</a></li>
                                                                        }
                                                                        @if (Model.indexlegth > 20)
                                                                        {
                                                                            for (int i = Convert.ToInt32(Model.CurrentPageIndex); i <= Model.PageCount; i++)
                                                                            {
                                                                                if (i != Model.CurrentPageIndex)
                                                                                {
                                                                                    <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@i);">@i</a></li>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                                                                }
                                                                                if (i > (Model.CurrentPageIndex + 19))
                                                                                {
                                                                                    <li><a class="page-link" href="javascript:void(0)">..</a></li>
                                                                                    <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@Model.PageCount);">@Model.PageCount</a></li>
                                                                                    break;
                                                                                }
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            for (int i = Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) > 0 ? Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) : 1; i <= Model.PageCount; i++)
                                                                            {
                                                                                if (i != Model.CurrentPageIndex)
                                                                                {
                                                                                    <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@i);">@i</a></li>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                                                                }
                                                                            }
                                                                        }
                                                                        @if (Model.CurrentPageIndex < Model.PageCount)
                                                                        {
                                                                            <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@Model.CurrentPageIndex + 1);">></a></li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li class="page-item"><a class="page-link" href="javascript:void(0);">></a></li>
                                                                        }
                                                                        <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@Model.PageCount);">&raquo;</a></li>
                                                                    </ul>
                                                                </nav>
                                                            </div>
                                                        }
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="candidatelist-main-body-outer" id="myfavoriteListTable">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="beforesearchsection">
                        @*<div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="text-center m-0">Please enter job title / keywords / location to search relevant Candidate</h4>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<input type="hidden" name="clientId" id="clientId" value="@Model.ClientId" />

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript" src="@Model.locationKey"></script>
<div id="jobalert_PopUp" class="modal fade" role="dialog"></div>
<script>
     
     
    function disableGoogleAutocomplete() {
        if (autocomplete !== undefined) {
            google.maps.event.removeListener(autocompleteListener);
            google.maps.event.clearInstanceListeners(autocomplete);
            $(".pac-container").remove();
        }
    }

    function checklocation() {
        debugger;
        if (parseInt($("#autocomplete_search").val())) {
            $("#postal_code").val($("#autocomplete_search").val());
        } 
    }

    function enableGoogleAutocomplete() {
      
        let autocomplete1 = new google.maps.places.Autocomplete(document.getElementById('autocomplete_search'));
        autocomplete1.setComponentRestrictions({ country: ["us"], });
        google.maps.event.addListener(autocomplete1, 'place_changed', function ()
        { 
            var place = autocomplete1.getPlace();
            var newPlace = {
                PlaceId: place.place_id,
                FullAddress: place.formatted_address,
                Latitude: place.geometry['location'].lat(),
                Longitude: place.geometry['location'].lng(),
            } 
            var lat = newPlace.Latitude;
            var long = newPlace.Longitude;
            var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + long + "&key=AIzaSyAz8lf6UZeLBkP5w6o3sYFJvJ9ZZ06IJSY"; 
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (msg) {
                    debugger;
                    var results = msg.results;
                    for (var i = 0; i < results.length; i++) {
                        for (var j = 0; j < results[i].address_components.length; j++) {
                            var check = results[i].address_components[j].types;
                            if (results[i].address_components[j].types == "postal_code") {
                                var ZipCodeByAddress = results[i].address_components[j].long_name;
                                $("#postal_code").val(ZipCodeByAddress);
                            }
                        }
                    }
                },
                error: function (req, status, error) {
                    alert('Sorry, an error occurred.');
                    console.log(req.responseText);
                }
            });
        }); 
    }
    $('#autocomplete_search').keypress(function (e) {
        debugger
        var input = document.getElementById('autocomplete_search');
        if (input.value.length > 1)
        {

            enableGoogleAutocomplete();

           
        }
        else {
            disableGoogleAutocomplete();
            $("#postal_code").val($("#autocomplete_search").val());
        }
    })
     

</script>

<script src="~/MvpTelent_js/Candidate/CandidateSearchClientModul.js"></script>
 
<script>

    if (parseInt(document.getElementById('miles').value) == 25) {
        const button1 = document.getElementById("btndecrement");
        button1.disabled = true; // disabling it by default 
        document.getElementById('btndecrement').style.backgroundColor = '#f5f5f5';
    }

    function autocomplete(inp, arr) {
        var currentFocus;
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {
                var pos = arr[i].toUpperCase().indexOf(val.toUpperCase());
                if (pos > -1) {
                    b = document.createElement("DIV");
                    b.innerHTML = arr[i].substr(0, pos);
                    b.innerHTML += "<strong>" + arr[i].substr(pos, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(pos + val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function (e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) { //up
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    var strArray = [];
    $.ajax({
        type: "Post",
        url: "/Home/getCandidateTitleList",
        contentType: false,
        processData: false,
        success: function (data) {
            $.each(data.candidatetagvaluecollection, function () {
                var tmpStr = "";
                for (var i = 0; i < this.Name.length; i++) {
                    if (this.Name.charAt(i) == ',') {
                        strArray.push(tmpStr);
                        tmpStr = "";
                        continue;
                    }
                    tmpStr += this.Name.charAt(i);
                }
                strArray.push(tmpStr);
            });
            autocomplete(document.getElementById("Title"), strArray);
        },
        error: function () {
            alert("There is an error uploading files!");
        }
    });
</script>

<div id="CandidateTagIdautocomplete-list"></div>

<style>
    #button {
        display: block;
        margin: 20px auto;
        padding: 10px 30px;
        background-color: #eee;
        border: solid #ccc 1px;
        cursor: pointer;
    }

    #overlay {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 100%;
        display: none;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0,0,0,0.6);
    }

    .cv-spinner {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px #ddd solid;
        border-top: 4px #2e93e6 solid;
        border-radius: 50%;
        animation: sp-anime 0.8s infinite linear;
    }

    .is-hide {
        display: none;
    }
</style>
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

<script>
    jQuery(function ($) {
        $(document).ajaxSend(function () {
            $("#overlay").fadeIn(300);
        });

        $('input[name="JobtypeId"]').click(function () {
            $.ajax({
                type: 'GET',
                success: function (data) {
                }
            });
        });

        $('input[name="JobCatagoryId"]').click(function () {
            $.ajax({
                type: 'GET',
                success: function (data) {
                }
            });
        });
        $('input[name="experienceId"]').click(function () {
            $.ajax({
                type: 'GET',
                success: function (data) {
                }
            });
        });
        $('input[name="educationlavelId"]').click(function () {
            $.ajax({
                type: 'GET',
                success: function (data) {
                }
            });
        });
        //$('input[name="miles"]').click(function () {
        //    $.ajax({
        //        type: 'GET',
        //        success: function (data) {
        //        }
        //    });
        //});

        $('#search').click(function () {
            $.ajax({
                type: 'GET',
                success: function (data) {
                }
            });
        });
    });
</script>
<div class='response'></div>

<script src="~/MvpTelent_js/Client/myfavourite.js"></script>