@model Web.Model.Client.ClientModel
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            @if (Model.Id == 0)
            {
                <h5 class="modal-title" id="#">Schedule Interview</h5>
            }
            else
            {
                <h5 class="modal-title" id="#">Reschedule Interview</h5>
            }
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body p-0">
            <form id="Interviewsecduleform">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Job Title</label>
                                @if (Model.JobId == 0)
                                {
                                    @Html.DropDownListFor(m => m.JobId, new SelectList(Model.joblistcollection, "Id", "Title"), "Select Job", new { @class = "form-control", @Id = "JobId", @Name = "JobId" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.JobId, new SelectList(Model.joblistcollection, "Id", "Title"), "Select Job", new { @class = "form-control", @disabled = "disabled", @Id = "JobId", @Name = "JobId" })
                                }
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Applicant Name</label>
                                <input id="ApplicantName" maxlength="30" class="form-control" value="@Model.CandidateName" placeholder="Please enter name" readonly name="ApplicantName" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Applicant Email</label>
                                <input id="ApplicantEmail" maxlength="50" class="form-control" autocomplete="off" value="@Model.Email" readonly="readonly" placeholder="Please enter email" name="ApplicantEmail" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Interviewer Name</label>
                                <input id="InterviwerName" maxlength="30" value="@Model.ClientName" class="form-control" autocomplete="off" placeholder="Please enter interviewer name" name="InterviwerName" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Interviewer Email</label>
                                <input id="InterviwerEmail" maxlength="30" value="@Model.ClientEmail" autocomplete="off" class="form-control" placeholder="Please enter interviewer email" name="InterviwerEmail" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Bcc</label>
                                <input id="InterviewBcc" maxlength="50" value="@Model.InterviewBcc" autocomplete="off" class="form-control" placeholder="Please enter bcc" value="" name="InterviewBcc" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Cc</label>
                                <input id="InterviewCc" maxlength="50" value="@Model.InterviewCc" autocomplete="off" class="form-control" placeholder="Please enter cc" value="" name="InterviewCc" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Interview Date</label>
                                <input id="InterviewDate" maxlength="30" autocomplete="off" class="form-control" placeholder="Please enter interview date" name="InterviewDate" value="@Model.InterviewDate" type="text">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Interview Location</label>
                                <input id="Location" maxlength="75" autocomplete="off" class="form-control" placeholder="Please enter interview location" name="Location" value="@Model.Location" type="text">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-label"> Email Subject</label>
                                <input id="titleName" maxlength="75" autocomplete="off" class="form-control" placeholder="Please enter email subject" name="titleName" value="@Model.Title" type="text">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Email Body</label>
                                <textarea id="description" autocomplete="off" maxlength="1000" class="form-control" placeholder="Please enter email body" name="description" type="text" rows="2">@Model.Description</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            @if (Model.Id > 0)
            {
                <input type="button" name="InterviewBtn" id="InterviewBtn" style="width: 181px;" class="btn btn-primary _interview" onclick="ClientUpdateInterviewschedule(@Model.Id,@Model.ClientId,@Model.CandidateId)" value="Reschedule Interview" >
            }
            else
            {
                <input type="button" name="InterviewBtn" id="InterviewBtn" style="width: 181px;" class="btn btn-primary _interview" onclick="ClientUpdateInterviewschedule(@Model.Id,@Model.ClientId,@Model.CandidateId)" value="Schedule Interview " >
            }
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script>
    $('#InterviewDate').datetimepicker({      
        useCurrent: false,       
        format: 'm-d-Y h:i A',
        formatTime: "h:i A",
        minDate: 0,
        step: 30,

    });
</script>