@model Web.Model.Client.ClientModel
@{
    ViewBag.Title = " Sent Items";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-4">
            <div class="col-auto d-none d-sm-block breadcrumb-1">
                <h3>
                    Interview Requests Sent
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card flex-fill">
                    <div class="card-header hr-b-1">
                        <h5 class="card-title mb-0">

                            Interview Requests List
                        </h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped my-0 tr-golden">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    
                                    <th>Candidate Title</th>
                                    <th>Location</th>
                                    <th>Job Title</th>
                                    <th class="text-center w-150">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int RowNo = Convert.ToInt32(Model.OffsetId);}
                                @if (Model.clientsendenuerycollection != null)
                                {
                                    foreach (var item in Model.clientsendenuerycollection)
                                    {
                                        <tr>
                                            <td> @{RowNo++;}@RowNo</td>
                                            <td><u><a title="Candidate Detail" onclick="oncandidatedetail('@item.cids',@item.JobTypeId)">@item.Title</a></u>    </td>
                                            <td>@item.Location</td>
                                            <td>@item.Jobtitle</td>
                                            @*<td><a href="@item.FilePath" download class="clr-6c757d underline">@item.FileName</a></td>*@
                                            <td class="table-action text-center">
                                                <a href="#" title="unread message" onclick="GetClientenquireybyId('@item.Ids')" class="count-out mr-2">  <i class="align-middle" data-feather="message-circle"></i><span class="count-in">@item.Unreadcount</span></a>
                                                <a href="#" title="Remove Messages" onclick="ClientsendqueryDelete(@item.Id)"><i class="align-middle" data-feather="trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                    if (Model.clientsendenuerycollection.Count() == 0)
                                    {
                                        <tr>
                                            <td class="p-3" colspan="5">
                                                <span class="no-data-found">
                                                    No Data found...
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body">
                        @if (Model.TotalRowCount > Model.maxRows)
                        {
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-lg justify-content-center">
                                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(1);">&laquo;</a></li>
                                    @if (Model.CurrentPageIndex > 1)
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex - 1);"><</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);"><</a></li>
                                    }
                                    @if (Model.indexlegth > 20)
                                    {
                                        for (int i = Convert.ToInt32(Model.CurrentPageIndex); i <= Model.PageCount; i++)
                                        {
                                            if (i != Model.CurrentPageIndex)
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                            }
                                            if (i > (Model.CurrentPageIndex + 19))
                                            {
                                                <li><a class="page-link" href="javascript:void(0)">..</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">@Model.PageCount</a></li>
                                                break;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        for (int i = Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) > 0 ? Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) : 1; i <= Model.PageCount; i++)
                                        {
                                            if (i != Model.CurrentPageIndex)
                                            {
                                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                                            }
                                            else
                                            {
                                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                                            }
                                        }
                                    }
                                    @if (Model.CurrentPageIndex < Model.PageCount)
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex + 1);">></a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">></a></li>
                                    }
                                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">&raquo;</a></li>
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/Areas/Admin/Admin/enquires.js"></script>
<script>

    function oncandidatedetail(id, typeid) {
        debugger
        var Url = "/Home/details?Id=" + id + "&JobTypeId=" + typeid;
        window.open(Url, '_blank');
    }


    function PagerClick(CurrentPageIndex) {
        url = "/Client/ClientenquireyList?CurrentPageIndex=" + CurrentPageIndex;
        window.location.href = url;
    }
</script>
<script>
    var element = document.getElementById("messagesmenu").setAttribute("aria-expanded", "true");
    var element = document.getElementById("messagesmenu");
    element.classList.remove("collapsed");
    var element = document.getElementById("messages");
    element.classList.add("show");
    var element = document.getElementById("interviewrequest");
    element.classList.add("active");
</script>