@model Web.Model.Candidate.CandidateModel
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Notes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body p-0">
            <div class="card-body  ">
                <form id="clientnoteform" name="form-validation" method="POST">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group m-0">
                                <label class="font-w-600">Note:</label>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <textarea id="Cnote" name="Cnote"  maxlength="1000" class="form-control" placeholder="Please enter Notes" cols="6"></textarea>
                        </div>
                        <div class="col-lg-12 text-right">
                            <input type="button" name="interviewStatus" id="interviewStatus" class="btn-new-1" onclick="clientNotesave(@Model.Id,@Model.JobId)" value="Save">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-body pt-0">
            <table class="table table-striped my-0 hr-l hr-r hr-b tr-golden">
                <thead>
                    <tr>
                        <th>
                            Notes
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Clientnotecollection != null)
                    {
                        foreach (var item in Model.Clientnotecollection)
                        {
                            <tr>
                                <td>
                                    <span class="text-capitalize clr-site-2"> <b>   @Session["FirstName"].ToString()  @Session["LastName"].ToString() (@item.createddate)</b></span>:
                                    @item.ClientName
                             
                                </td>
                            </tr>
                        }
                        if (Model.Clientnotecollection.Count() == 0)
                        {
                            <tr>
                                <td class="text-left">
                                    <span>No Data found...</span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        @if (Model.TotalRowCount > Model.maxRows)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-lg justify-content-center">
                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(1);">&laquo;</a></li>
                    @if (Model.CurrentPageIndex > 1)
                    {
                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex - 1);"><</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="javascript:void(0);"><</a></li>
                    }
                    @if (Model.indexlegth > 20)
                    {
                        for (int i = Convert.ToInt32(Model.CurrentPageIndex); i <= Model.PageCount; i++)
                        {
                            if (i != Model.CurrentPageIndex)
                            {
                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                            }
                            else
                            {
                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                            }
                            if (i > (Model.CurrentPageIndex + 19))
                            {
                                <li><a class="page-link" href="javascript:void(0)">..</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">@Model.PageCount</a></li>
                                break;
                            }
                        }
                    }
                    else
                    {
                        for (int i = Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) > 0 ? Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) : 1; i <= Model.PageCount; i++)
                        {
                            if (i != Model.CurrentPageIndex)
                            {
                                <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i);">@i</a></li>
                            }
                            else
                            {
                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                            }
                        }
                    }
                    @if (Model.CurrentPageIndex < Model.PageCount)
                    {
                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.CurrentPageIndex + 1);">></a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">></a></li>
                    }
                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageCount);">&raquo;</a></li>
                </ul>
            </nav>
        }
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script src="~/MvpTelent_js/Client/ClientApplicant.js"></script>