
@model Web.Model.Candidate.CandidateListModel
<div class="row">
    @if (Model.CandiateList != null)
    {
        if (Model.CandiateList.Count > 0)
        {
            foreach (var item in Model.CandiateList)
            {
                <div class="col-md-6">
                    <div class="candidatelist-main-body">
                        <div class="candidatelists-main-header">
                            <span for="exampleCheck1" onclick="candidatedetails('@EncryptDecrypt.encrypt(Convert.ToString(item.id))',@item.jobTypeId, '@item.location')">@item.current_job_title </span>
                            <div class="card-actions float-right">
                                <div class="dropdown">
                                    @if (item.IsFavorites == 0)
                                    {
                                        <a onclick="Addcandidateshortlistbyid(@item.id)" title="Add to favorite" data-toggle="dropdown" data-display="static" aria-expanded="false">
                                            <i id="favourite_heart_@item.id" class="fa-heart-o"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a onclick="removefavoritecandidate(@item.id,1)">
                                            <i id="icon_@item.id" style="color:#000000" class="fas fa-heart" aria-hidden="true"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="candidatelist-main-inner" onclick="candidatedetails('@EncryptDecrypt.encrypt(Convert.ToString(item.id))',@item.jobTypeId, '@item.location')">
                            <div class="candidatelist-main-inner-text pl-0">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span>Current Salary</span>
                                                @if (@item.CurrentSalary != "")
                                                {<span>@item.CurrentSalary</span>
                                            }
                                            else
                                            {
                                                <span>N/A</span>
                                            }
                                            </td>
                                            <td>
                                                <span>Experience</span>

                                                @if (@item.Experience_Name == "")
                                                {
                                                    <span>N/A</span>
                                                }
                                                else
                                                {
                                                    <span>@item.Experience_Name</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>Job Type</span>
                                                @if (@item.jobType == null)
                                                {
                                                    <span>N/A</span>
                                                }
                                                else
                                                {
                                                    <span>@item.jobType</span>
                                                }
                                            </td>
                                            <td>
                                                <span>  Degree</span>
                                                @if (@item.EducationlevelName == "")
                                                {
                                                    <span>N/A</span>
                                                }
                                                else
                                                {
                                                    <span>@item.EducationlevelName</span>
                                                }
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span>Desired Title</span>
                                                @if (string.IsNullOrEmpty(item.DesiredTitle1) == false)
                                                {
                                                    <span>@item.DesiredTitle1</span>
                                                }
                                                else
                                                {
                                                    <span>N/A</span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <span>Location</span>
                                                @if (string.IsNullOrEmpty(item.location) == false)
                                                {
                                            <span>
                                                @item.location 
                                               

                                                @if (Model.Zip != null)
                                                {
                                                    if (item.ZipCode.Length == 4)
                                                    {
                                                        if (item.ZipCode.Substring(0, 1) != "0")
                                                        {
                                                            string @aa = "0" + item.ZipCode;
                                                            <span>@aa</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @item.ZipCode
                                                    }
                                                    <span> (@item.miles_range mi) </span>
                                                }

                                            </span>
                                                }
                                                else
                                                {
                                                    <span>N/A</span>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-data-section text-center">
                <figure class="no-data-img">
                    <img src="/New_Content/images/404-img.png" class="img-fluid" />
                </figure>
                <p>Sorry , The data not found</p>
            </div>
        }
    }
    else
    {
        <div class="no-data-section text-center">
            <figure class="no-data-img">
                <img src="/New_Content/images/404-img.png" class="img-fluid" />
            </figure>
            <p>Sorry , The data not found</p>
        </div>
    }
    <input type="hidden" name="h_TotalRowCount" id="h_TotalRowCount" value="@Model.TotalRowCount" />
</div>

<div class="row">
    @if (Model.TotalRowCount > Model.maxRows)
    {
        <div class="pagination-bar pagination-section my-4 w-100">
            <nav aria-label="Page navigation " class="d-inline-b">
                <ul class="pagination justify-content-center custom-pagination-sm">
                    <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(1,@Model.gid);">&laquo;</a></li>
                    @if (Model.CurrentPageIndex > 1)
                    {
                        <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@Model.CurrentPageIndex - 1,@Model.gid);"><</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="javascript:void(0);"><</a></li>
                    }
                    @if (Model.indexlegth > 20)
                    {
                        for (int i = Convert.ToInt32(Model.CurrentPageIndex); i <= Model.PageCount; i++)
                        {
                            if (i != Model.CurrentPageIndex)
                            {
                                <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@i);">@i</a></li>
                            }
                            else
                            {
                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                            }
                            if (i > (Model.CurrentPageIndex + 19))
                            {
                                <li><a class="page-link" href="javascript:void(0)">..</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@Model.PageCount);">@Model.PageCount</a></li>
                                break;
                            }
                        }
                    }
                    else
                    {
                        for (int i = Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) > 0 ? Convert.ToInt32(Model.CurrentPageIndex) - (20 - Model.indexlegth) : 1; i <= Model.PageCount; i++)
                        {
                            if (i != Model.CurrentPageIndex)
                            {
                                <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@i);">@i</a></li>
                            }
                            else
                            {
                                <li class="active page-item"><a class="page-link" href="#">@i</a></li>
                            }
                        }
                    }
                    @if (Model.CurrentPageIndex < Model.PageCount)
                    {
                        <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@Model.CurrentPageIndex + 1);">></a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">></a></li>
                    }
                    <li class="page-item"><a class="page-link" href="javascript:CandidateSearchByClient(@Model.PageCount);">&raquo;</a></li>
                </ul>
            </nav>
        </div>
    }
</div>

<script>
    $("#salertfilter").val(@Model.salery)
</script>


