@model Web.Model.Paypal.PaymentViewModel
@{
    ViewBag.Title = "success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-inner plans-page-banner">
    <h1 class="banner-caption">Payment</h1>
</section>
<section class="payment-section price-section">
    <div class="container">
        <section class="payment-top-details bread-crumb header-golden-bg m-0">
            <div class="row">
                <h5 class="m-0 clr-fff">
                    Your payment is successful
                </h5>
            </div>
        </section>
        <div class="row mt-4">
            <div class="col-lg-4 col-sm-12">
                <div class="_pricing_section _payments">
                    <div class="card">
                        <div class="card-header payment_bycard">
                            <h3 style="text-align: left;">
                                <input type="hidden" id="hPlanName" name="hPlanName" value="@Model.PlanName" />
                                @Model.PlanName Plan Details
                            </h3>
                        </div>
                        <div class="card-body_scrollbar">
                            <ul class="price-list">
                                <li class="p-0 mt-4">
                                    <div>
                                        <div class="price-price">
                                            <h4>@Model.PlanName</h4>
                                            <span>$ @Model.Amount/<span>m</span></span>
                                        </div>
                                        <div class="price-offer mb-25">
                                            <span>&nbsp; <span class="off">&nbsp;</span></span>
                                        </div>
                                        @{
                                            string text = Model.Description;
                                            string[] authorsList = text.Split(',');
                                            <ul class="sub-price-list">
                                                @foreach (string author in authorsList)
                                                {
                                                    <li><i class="fas fa-check"></i>@author </li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <section class="dashboard_table ">
                    <div class="card">
                        <div class="card-header payment_bycard">
                            <h3>
                                Payment Detail
                            </h3>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form id="Paymentform">
                                <div class="_card_section">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card-body py-5" style="text-align:center">
                                                    <div class="text-center">
                                                        <img src="~/Scripts/assets/img/payment_success.png" class="img-fluid" style="width:120px;" />
                                                    </div>

                                                    <h4 class="payment_success _thanks mt-3">Thank You!</h4>
                                                    <h4 class="payment_success">Your payment is successful.</h4>
                                                    <br />

                                                    <h4>Order Id : &nbsp; @Model.PaymentId</h4>
                                                    @*<h4>Subscription Id : @Model.transactionno</h4>*@
                                                    <div id="dvCountDown">
                                                        You will be redirected after <span id="lblCount"></span>&nbsp;seconds.
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <h4> </h4>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

            </div>
        </div>

    </div>
</section>
<script src="~/MvpTelent_js/payment/payment.js"></script>

@if (Model.UserAccountType == 2)
{
    <script type="text/javascript">
        var seconds = 10;
        var dvCountDown = document.getElementById("dvCountDown");
        var lblCount = document.getElementById("lblCount");
        dvCountDown.style.display = "block";
        lblCount.innerHTML = seconds;
        setInterval(function () {
            seconds--;
            lblCount.innerHTML = seconds;
            if (seconds == 0) {
                dvCountDown.style.display = "none";
                window.location = "/Client/paymenthistory";
            }
        }, 1000);
    </script>
}
else
{
    <script type="text/javascript">
        var seconds = 10;
        var dvCountDown = document.getElementById("dvCountDown");
        var lblCount = document.getElementById("lblCount");
        dvCountDown.style.display = "block";
        lblCount.innerHTML = seconds;
        setInterval(function () {
            seconds--;
            lblCount.innerHTML = seconds;
            if (seconds == 0) {
                dvCountDown.style.display = "none";
                window.location = "/Candidates/paymenthistory";
            }
        }, 1000);
    </script>
}

